<header>
	<%= image_tag("logo.jpg", :alt => "Sample Logo", :class => "round") %>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Sign", "#" %></li>
		</ul>
	</nav>
</header>